@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

html, body {
    box-sizing: border-box;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

::selection {
    background: #4bd18e;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.56261;
  font-weight: 400;
  margin: 0;
  padding: 0;
  outline: none;
  overflow: visible;
  text-align: center;
}

body::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background-repeat: repeat-y;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url("/temperature-data-application/static/images/background-image.jpg");
}

.title {
    margin-bottom: 2rem;
}

input:focus {
    border: 1px solid #873e8d;
}

h1 {
    font-weight: normal;
    font-size: 30px;
    background-color: #9900cc;
    margin: 10px;
    color: white;
    align: center;

}


button {
    margin-right: 0;
    display: inline-block;
    width: 10%;
    height: 2rem;
    background-color: #9900cc;
    font-size: 0.8rem;
    color: #fff;
    outline: none;
    border: 1px transparent solid;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}

#back-to-home{
    width: 15%;
    height: 3rem;
}

#view-data{
    width:15%;
    height: 2rem;
    text-align: center;
}

fieldset{
    width: 500px;
    height: 180px;
    position: center;
    margin: auto;
    border-radius: 10px;
}

legend {
    background-color: #9900ff;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    align: center;
}

button:focus {
    border: 2px solid #333;
}


.back-white{
    background-color: white;
}

#currentView {
    height: 500px;
    width: 80%;
    background-color: "#f6e6fb";
    align: center;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-width: 1px;
    border-style: ridge;
    border-color: #9900cc;
    position: relative;
    left: 80px;
    top: 50px;
}

#hourlyGraph {
    height: 700px;
    width: 90%;
    background-color: white;
    opacity: 1;
    align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-width: 1px;
    border-style: ridge;
    border-color: #9900cc;
    position: relative;
    left: 80px;
    top: 70px;
    bottom: 20px;
}

img.timeIcon{
    height: 40px;
    width: 40px;
    float: left;
}

#currentDateField{
    height: 65px;
    width: 45%;
    padding: 10px;
    border-color: #EF850B;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    left: 30px;
    top: 70px;

}

#currentTimeField{
    height: 65px;
    width: 45%;
    padding: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    right: 30px;
    top: 70px;
}

#svgFloor{
    height: 65%;
    width: 70%;
    border-width: 1px;
    border-color: #cc0099;
    border-style: solid;
    position: absolute;
    left: 40px;
    bottom: 20px;
}

 label.timeIcon{
    font-size: 20px;
    font-weight: bold;
    font-color: black;
    width: 20%;
    height: 30px;
    position: absolute;
    left: 70px;
    top: 20px;
 }

 label.timeValue{
    font-size: 20px;
    font-weight: bold;
    font-color: black;
    width: 50%;
    height: 30px;
    background-color: white;
    position: absolute;
    right: 30px;
    top: 20px;
 }

 #xAxis{
    height: 32px;
    width: 1160px;
	position: absolute;
	top: 385px;
	left: 90px;
 }
 #yAxis{
    height: 250px;
    width: 59px;
	position: absolute;
	top: 142px;
	left: 85px;
 }